main {
    h1 {
        text-align: center;
        color: #2F6065;
        margin-top: 0;
        font-size: 3rem;
    }

    section {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    main {
        section {
            flex-direction: row;

            img {
                min-width: 300px;
            }
        }
    }
}